.modal {
  position: absolute;
  padding: 3em;
  margin: 3em;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  background: $color-surface;
  box-shadow: $shadow-md;
  box-sizing: border-box;
  width: min(90vw, 700px);

  @include mobile {
    left: 39%;
    width: min(65vw, 200px);
  }

  h2 {
    margin: 10px 0;
  }

  &__button-close {
    background-image: url('../../../../public/CrossIcon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-position: center 9px;
    background-size: 50%;
    right: 4%;
    top: 4%;
    position: absolute;
    cursor: pointer;
    width: 35px;
    height: 35px;
    background-color: $color-background;
    border-radius: 50%;
    border: none;

    &:focus {
      outline: none;
    }
  }
}
